.contacto-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   

    .contacacto-nombre{
        font-size: 16px;
        font-family:system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;    border: 4px solid #a58340;
        border-radius: 2px;
        width: 750px;
        height: 60px;
        margin: 5px;
    }
    
    .contacacto-mail{
        font-size: 16px;
        font-family:system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;    border: 4px solid #a58340;
        border-radius: 2px;
        width: 750px;
        height: 60px;
        margin: 5px;
    }
    
    
    .contacacto-textarea{
        font-size: 16px;
        font-family:system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;    border: 4px solid #a58340;
        border-radius: 2px;
        width: 750px;
        height: 400px;
        margin: 5px;
    }
    
    .contacto-boton{
        background-color: #a58340;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        margin: 5px;
    }
}

.contacto-info{
    font-size: 16px;
    font-family:system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;    margin: 8px;
}
